<h1>New Interpreter</h1>

<%= simple_form_for(@interpreter, :url => { :controller => "interpreters", :action => "create" }) do |f| %>
  <%= render 'form', f: f, resource: @interpreter %>
<% end %>

<br>
<%= link_to 'Go to List of Interpreters', admin_interpreters_path %>