<h3>Jobs (Month View)</h3>
<div class='calendar job-calendar'>
<%= month_calendar events: events do |date,jobs| %>
	<%= date.strftime("%-d") %>
	<% jobs.take(5).each do |job| %>
		<% path = '#' # default %>
		<% path =       admin_job_path(job) if view == :admin %>
		<% path = interpreter_job_path(job) if view == :interpreter %>
		<div><%= link_to "#{job.status}##{job.id}", path %></div>
  	<% end %>
	<% if jobs.count > 5 %>
		More...
	<% end %>
<% end %>
</div>
