<div class="field">
	<label>User Name</label><br><input id="username" name="user[username]" type="text" />
</div>
<div class="field">
	<label>User Email</label><br><input id="email" name="user[email]" type="text" />
</div>
