.mini-calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    min-width: 40px;
  }

  td {
    color: #777;
    height: 40px;
    vertical-align: top;
    font-size: 10px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today      { background-color: #D7F2FF; }
  .next-month { background-color: yellow; }

}


