<nav class="navbar navbar-default">
	<%= render 'partials/header/header_left' %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<%= render 'partials/header/header_search' %>
		<%= render 'partials/header/header_right' %>
    </div>
</nav>